@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif;
    
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: transparent;
   /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);*/
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    width: 150px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #5355e8;

}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #5355e8;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
*{
    margin: 30;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    line-height: normal;
    color: rgb(23, 50, 50);
    text-align: center;
    padding-top: 50px;
}

span.bubble{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-style: italic;
    font-weight: bold;
    color: rgb(23, 50, 50);
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(23, 50, 50);
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;

}
